DATABASE_URL=postgresql://postgres:your-strong-password@your-db-host.amazonaws.com:5432/pathlight

JWT_SECRET_KEY=replace-with-strong-secret-key
JWT_REFRESH_SECRET_KEY=replace-with-another-refresh-secret-key

AWS_ACCESS_KEY_ID=your-aws-access-key
AWS_SECRET_ACCESS_KEY=your-aws-secret-key
AWS_REGION=ap-northeast-1

# De trong khi run on AWS
AWS_S3_ENDPOINT_URL=
S3_FORCE_PATH_STYLE=false

S3_BUCKET_NAME=
S3_UPLOAD_PREFIX=uploads