DATABASE_URL=postgresql://postgres:your-strong-password@your-db-host.amazonaws.com:5432/pathlight

JWT_SECRET_KEY=replace-with-strong-secret-key
JWT_REFRESH_SECRET_KEY=replace-with-another-refresh-secret-key

ACCESS_KEY_ID=your-access-key
SECRET_ACCESS_KEY=your-secret-key
REGION=ap-northeast-1
S3_BUCKET_NAME=